*{
    margin: 0px;
    padding: 0px;
}

.BG{
    background-image: url(background/BG.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: ;
}

.menus{
}
.menus a{
    text-decoration: none;
    color: red;
    font-family: 'Gabarito', sans-serif;
    font-size: 30px;
}

.ulmen{
    margin-left:  1050px;
    margin-top: -50px;
}

.menus h1{
    color: red;
    font-family: 'Rubik Mono One', monospace;
    text-align: left;
    margin-left: 70px;
}

@media screen and (max-width: 500px) {
  
    .menus h1{
        font-size: 15px;
        margin-left: 77px;
    }

    .ulmen{
        margin-left: 80px;
        font-size: 2px;
    }
    
}

.texto-decorativo{
    text-align: center;
    color: white;
    font-family: 'Heebo', sans-serif;
}

.texto-decorativo h1{
    font-size: 40px;
}

.texto-decorativo p{
    color: white;
    font-size: 25px;
}

.email{
    width: 500px;
    height: 40px;
    text-transform: uppercase;
    opacity: 78%;
} 

.button{
    width: 150px;
    height: 50px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .email{
        width: 200px;
        height: 20px;
    }

    .texto-decorativo h1{
        color: gray;
        font-size: 25px;
    }
    
    .texto-decorativo p{
        color: gainsboro;
        font-size: 13px;
    }
}

.divisaosite{
    background-image: url(background/divisao.png);
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
}

.DiviHA2 {
    margin-left: 800px;
    color: white;
    margin-top: 3px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

.divisaositep{
    text-align: center;
    font-size: 15px;
    color: white;
    margin-left: 0px;
    margin-top: -25px;
    font-family: 'Noto Sans JP', sans-serif;
}

.divisaositea{
margin-left:  820px;
font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 500px){
    .DiviHA2{
        margin-left: 45px;
    }

    .divisaositep{
        margin-left: 0px;
    }

    .divisaositea{
        margin-left: 45px;
    }
}

@media screen and (max-width: 1499px){
    .DiviHA2{
        margin-left: 50%;
    }

    .divisaositep{
        margin-left: 19%;
    }

    .divisaositea{
        margin-left: 50%;
    }
}


.bg02{
    background-color: black;
    width: 100%;
    height: 450px;
}

.bg02 h1{
    color: white;
    margin-left: 270px;
    margin-top: -250px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
}

.bg02 p{
    color: white;
    margin-left: 270px;
    margin-top: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;

}

.bg02 img{
    width: 300px;
    height: 280px;
    margin-left: 930px;
    border-radius: 30px;
    margin-top: 65px;
}

@media screen and (max-width: 500px) {
    
    .bg02 h1{
        margin-left: 85px;
        font-size: 20px;
        margin-top: -255px;
    }

    .bg02 p{
        margin-left: 85px;
        font-size: 11px;
        margin-top: 0px;
    }

    .bg02 img{
        margin-left: 100px;
        width: 150px;
        height: 150px;
        margin-top: 160px;
    }
}

.DIVIS2{
    background-color: #1D1B1A;
    width: 100%;
    height: 10px;
}

.BG03{
    background-color: black;
    width: 100%;
    height: 400px;
}

.BG03 img{
    width: 300px;
    height: 280px;
    margin-left: 320px;
    border-radius: 30px;
    margin-top: 60px;
}

.BG03 h1{
    text-align: center;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: -250px;
    font-size: 40px;
}

.BG03 p{
    text-align: center;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
}

@media screen and (max-width: 500px) {
    
    .BG03 h1{
        font-size: 18px;
    }

    .BG03 p{
        font-size: 8px;
    }

    .BG03 img{
        width: 150px;
        height: 150px;
        margin-top: 130px;
        margin-left: 100px;
    }

}